header{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav, aside{
    width: 20%;
    background-color: forestgreen;
    float: left;
}
main{
    width: 60%;
    background-color: greenyellow;
    float: left;
}
footer{
    clear: both;
    background-color: floralwhite;
}
article{
    border: 2px dashed darkred;
    margin: 5px;
}